@use "../abstracts/variables" as *;

header {
  padding-top: 10px;
  background-image: url(../../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 55vh;

  & a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    & button {
      margin-left: auto;
      margin-right: 20px;

      padding: 10px;
      background-color: $primary-color;
      border: none;
      border-radius: 10px;

      & a {
        font-size: 1.2rem;
      }
      &:hover {
        scale: 1.1;
        cursor: pointer;
      }
    }
    li:hover {
      scale: 1.05;
      cursor: pointer;
      a {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }

  #logo-img {
    max-width: 300px;
    max-height: 300px;
  }
  #menu-img {
    display: none;
  }
}

.text-container {
  margin-left: 20px;
  max-width: 50%;
  color: white;

  button {
    margin-top: 30px;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    background-color: $primary-color;
    border: none;
    border-radius: 10px;

    &:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@media (max-width: 715px) {
  header li {
    display: none;
  }
  .order-btn {
    display: none;
  }

  header{
  #menu-img {
    margin-left: auto;
    padding-right: 10px;
    width: 3rem;
    display: block;

    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}
}
